<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Stocks Check</title>
</head>
<body>
    <h1>hello {{email}}</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Owner Email</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Customer Id</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                <td>{{item.Stock_id}}</td>
                <td>{{item.Stock_name}}</td>
                <td>{{item.Stock_quantity}}</td>
                <td>{{item.Stock_description}}</td>
                <td>{{item.owner}}</td>
                <td>{{item.employee}}</td>
                <td>{{item.customer}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>