<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .decoration{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>hello {{email}}</h1>
    <div class="decoration">
        <form method="post" action="{% url 'employee_orders_add' %}">
            {% csrf_token %}
            <h2>Order Details</h2>   
        <p>Order Id: * <input  type="number" name="id" required> </p>
        <p>Order Quantity: * <input  type="number" name="quantity" required> </p>
        <p>Order Name: * <input  type="text" name="stock_name" required> </p>
        <p>Description: *<input type="text" name="description" id="description" required></p>
        <p>Owner Email: * <input type="email" name="owner_email" id="owner_email" required></p>
        <p>Employee Id: * <input  type="number" name="empid" required> </p>
        <p>Customer Id: * <input  type="number" name="custid" required> </p>
        <input type="submit" value="Register">
    </form>
    </div>
</body>
</html>